# Python Introduction

In [1]:
# checking python version
! python -V

Python 3.7.3

### *Numbers (Integers, Floats)*

In [2]:
# This is a comment

In [3]:
# multiplying 
5*2

10

In [4]:
# dividing
5/2

2.5

In [5]:
# dividing and returning only the whole part
5//2

2

In [6]:
# dividing and returning remainder after division
5%2

1

In [7]:
# making an exponential calculation
5**2

25

### Variables

- Can only be one word.
- Can use only letters, numbers, and the underscore (_) character.
- Canâ€™t begin with a number.
- Variables are case-sensitive (data, Data and DATA would be different variable names).

In [8]:
# defining variables
apple = 3
banana = 2
apple + banana

5

In [9]:
# calculating sum of 2 vars
apple + apple

6

In [10]:
# assigning value to a var
apple = apple + apple
apple

6

### Strings

In [11]:
# creating a simple string
'This is fun!'

'This is fun!'

In [12]:
# creating a simple string
"This is fun, isn't it!?"

"This is fun, isn't it!?"

In [13]:
# concatenanting 2 strings together
"This is fun, " + "isn't it!?"

"This is fun, isn't it!?"

### Print()

In [14]:
# printing a string
print("printed")

printed

In [15]:
# printing an integer
print(apple)

6

In [16]:
# using print with format
name = "Sam"
grade = 81
print("{} scored a grade of {} on the test.".format(name, grade))

Sam scored a grade of 81 on the test.

In [17]:
# using f-string with print statement
print(f"{name} scored a grade of {grade} on the test.")

Sam scored a grade of 81 on the test.

### Lists

In [18]:
# creating a list of integers
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [19]:
# creating a list of int and string
L = [1, 'two', 3, 4, 5]
L

[1, 'two', 3, 4, 5]

In [20]:
# accessing list items using index notation
L[0]

1

In [21]:
# assigning value to an item of the list
L[1] = 2
L

[1, 2, 3, 4, 5]

In [22]:
# concatenating lists together 
L + [6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### List slicing

In [23]:
# slicing a list
L3 = [1,2,3,4,5]
L3[0:3]

[1, 2, 3]

In [24]:
# selecting all items - starting for the position 3
L3[3:]

[4, 5]

In [25]:
# selecting the last element of the list
L3[-1]

5

In [26]:
# returning reversed list
L3[::-1]

[5, 4, 3, 2, 1]

### List comprehension

In [27]:
# creating a list
L = [-1,-2,-3,-4,-5]
L

[-1, -2, -3, -4, -5]

In [28]:
# creating a new list based on the list 'L'
L_dbl = [n*2 for n in L]
L_dbl

[-2, -4, -6, -8, -10]

In [29]:
# creating a new list based on the list 'L'
L_abs = [abs(num) for num in L]
L_abs

[1, 2, 3, 4, 5]

In [30]:
# creating a new list based on the list 'L_abs'
filter_L = [num for num in L_abs if num < 3]
filter_L

[1, 2]

### Tuples

In [31]:
# creating a tuple
tup = (1,2,3)
tup

(1, 2, 3)

In [32]:
# selecting elements of the list
tup[:2]

(1, 2)

In [33]:
# unpacking and assigning multiple values at once
num1, num2, num3 = (5,11,15)   
print(num2)

11

### Booleans
Booleans represent one of two values: `True` or `False`.

In [34]:
# TRUE boolean
True

True

In [35]:
# FALSE boolean
False

False

In [36]:
# using int() to turn the boolean into 1 
int(True)

1

In [37]:
# using int() to turn the boolean into 0
int(False)

0

In [38]:
# 'True and True' always return'True'
True and True

True

In [39]:
# 'True AND False' always returns 'False'
True and False

False

In [40]:
# 'True OR False' always returns 'True'
True or False

True

### Comparison Operators

In [41]:
# comparing values and returning a boolean
1 < 2

True

In [42]:
# comparing values and returning a boolean
1 > 2

False

In [43]:
# comparing values and returning a boolean
1 <= 2

True

In [44]:
# comparing values and returning a boolean
1 >= 2

False

In [45]:
# comparing values and returning a boolean
1 == 2

False

In [46]:
# comparing values and returning a boolean
1 == 1

True

In [47]:
# comparing values and returning a boolean
1 != 2

True

In [48]:
# comparing values and returning a boolean
(1 < 2) and (2 < 3)

True

In [49]:
# comparing values and returning a boolean
(1 > 2) or (2 < 3)

True

In [50]:
# comparing values and returning a boolean
"string" == "string"

True

In [51]:
# comparing values and returning a boolean
"string" == 'spring'

False

In [52]:
# comparing values and returning a boolean
"Bill" in ["Bill", "Sarah", "Karen"]

True

In [53]:
# comparing values and returning a boolean
"Ann" not in ["Bill", "Sarah", "Karen"]

True

### if, elif, else Statements

- `if` is a condition statement.
- `elif` is pythons way of saying "if the previous conditions were not true, then try this condition".
- `else` statement catches anything which isn't caught by the preceding conditions.

In [54]:
# using the 'if' statement
if 1:
    print("True")

True

In [55]:
# for any non-zero number it will return True
if -3.1415:
    print("negative Pi is True!")

negative Pi is True!

In [56]:
# creating another example of 'if' statements
user_email = "jeff@amazon.com"
password = "bezos"

if user_email == "jeff@amazon.com":
    if password == "bezos":
        print("Access granted.")

Access granted.

In [57]:
# creating an 'if' statement for value comparison
if 5>2: 
    print("True")

True


```
if <condition>:
    block of code
elif <condition)
    block of code

```

In [58]:
# creating an example of combinations of conditions
age = 25

if age < 10:
    print("Just a kid.")
elif age < 16:
    print("Can't drive yet!")
elif age > 21:
    print("You are an adult!")

You are an adult!

```
if <condition>:
    block of code
else:
    block of code
```

In [59]:
# creating an example of combinations of conditions
age = 25

if age < 10:
    print("Just a kid.")
elif age < 16:
    print("Can't drive yet!")
elif age < 21:
    print("No drinking for you!")
else:
    print("You're good to go!")

You're good to go!

## Functions

A function is a block of code which only runs when it is called.

In [60]:
# creating a simple function of print statements
def greeting():
    print("Hello")
    print("Hola")
    print("Ciao")

In [61]:
# calling the function
greeting()

Hello
Hola
Ciao

In [62]:
# creating a function that requires a parameter
def root_on(school):
    if school == "USC":
        print("Go Trojans!")
    elif school == "LSU":
        print("Go Bulldogs!")
    elif school == "Stanford":
        print("Go Cardinal!")
    else:
        print("Go team!")

In [63]:
# calling the function
root_on("Stanford")

Go Cardinal!

### Retuning a value

In [64]:
# returning a value within a function
def root_on2(school):
    if school == "USC":
        return "Go Trojans!"
    if school == "Fresno State":
        return "Go Bulldogs!"
    if school == "Stanford":
        return "Go Cardinal!"
    return "Go team!"

In [65]:
# calling the fucntion
my_team = root_on2("USC")
print("You can do it! {}".format(my_team))

You can do it! Go Trojans!

## for Loops

A for loop is used to iterate over a sequence of values.

In [66]:
# creating a sequence of numbers
range(10)

range(0, 10)

In [67]:
# applying the sequence to a list
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
# creating a 'for loop'
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [69]:
# creating a for loop for a specific range of values - range(start, stop)
for num in range(90,101):
    print(num)

90
91
92
93
94
95
96
97
98
99
100

In [70]:
# creating a for loop for a specific range of values - range(start, stop)
for item in range(0, 26, 5):
    print(item)

0
5
10
15
20
25

In [71]:
# creating a for loop for a range of values that goes in reverse/decending order
for value in range(10,0,-1):
    print(value)

10
9
8
7
6
5
4
3
2
1

In [72]:
# creating a more elaborated for looop 
my_list = [1, 11, 4, 44]

for thing in my_list:
    greeting()
    print("\n")

Hello
Hola
Ciao


Hello
Hola
Ciao


Hello
Hola
Ciao


Hello
Hola
Ciao

In [73]:
# creating a for loop to print values from a list
my_list = [1, 11, 4, 44]

for thing in my_list:
    print(thing)

1
11
4
44